# Keyword arguments in python

1. \*\*kwargs
2. kwargs acts like a dictionary

In [1]:
d = {"name": "Utkarsh", "age": 28, "married": True}
type(d)

dict

In [2]:
d

{'name': 'Utkarsh', 'age': 28, 'married': True}

In [3]:
d.keys()

dict_keys(['name', 'age', 'married'])

In [4]:
d.items()

dict_items([('name', 'Utkarsh'), ('age', 28), ('married', True)])

In [5]:
def function(**kwargs):
    print(kwargs)
    print(type(kwargs))
    for key, value in kwargs.items():
        print(f"{key} : {value}")

In [6]:
function(name="Sarthak", age=24)

{'name': 'Sarthak', 'age': 24}
<class 'dict'>
name : Sarthak
age : 24

In [7]:
function(name="Aditi", age=28, email="aditi@example.com", graduated=True)

{'name': 'Aditi', 'age': 28, 'email': 'aditi@example.com', 'graduated': True}
<class 'dict'>
name : Aditi
age : 28
email : aditi@example.com
graduated : True

In [8]:
d

{'name': 'Utkarsh', 'age': 28, 'married': True}

In [9]:
function(**d)

{'name': 'Utkarsh', 'age': 28, 'married': True}
<class 'dict'>
name : Utkarsh
age : 28
married : True

## Practical example for kwargs

### Perform billing for a restauraunt , provided the menu including taxes

In [10]:
menu = {"burger": 150, "pizza": 270, "sandwich": 100, "pasta": 250, "coffee": 50}

In [11]:
menu.get("pasta")

250

In [12]:
a = menu.get("samosa")
print(a)

None

In [21]:
menu.items()

dict_items([('burger', 150), ('pizza', 270), ('sandwich', 100), ('pasta', 250), ('coffee', 50)])

In [13]:
def hotel_bill(**kwargs):
    bill = 0
    for food, qty in kwargs.items():
        price = menu.get(food)
        if price is not None:
            amt = price * qty
            bill = bill + amt
            print(
                f"Food Item : {food}, price : {price:.2f} INR Qty : {qty}, Subtotal : {amt:.2f} INR"
            )
    print(f"Total billing amount is : {bill:.2f} INR")
    return bill

In [14]:
b1 = hotel_bill(burger=2, coffee=1)

Food Item : burger, price : 150.00 INR Qty : 2, Subtotal : 300.00 INR
Food Item : coffee, price : 50.00 INR Qty : 1, Subtotal : 50.00 INR
Total billing amount is : 350.00 INR

In [15]:
b1

350

In [16]:
b2 = hotel_bill(pizza=4, sandwich=2, coffee=6)

Food Item : pizza, price : 270.00 INR Qty : 4, Subtotal : 1080.00 INR
Food Item : sandwich, price : 100.00 INR Qty : 2, Subtotal : 200.00 INR
Food Item : coffee, price : 50.00 INR Qty : 6, Subtotal : 300.00 INR
Total billing amount is : 1580.00 INR

In [17]:
table3 = {"pasta": 3, "sandwich": 2, "burger": 1}

In [18]:
hotel_bill(**table3)

Food Item : pasta, price : 250.00 INR Qty : 3, Subtotal : 750.00 INR
Food Item : sandwich, price : 100.00 INR Qty : 2, Subtotal : 200.00 INR
Food Item : burger, price : 150.00 INR Qty : 1, Subtotal : 150.00 INR
Total billing amount is : 1100.00 INR

1100

# Once completed type done in chat